<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.shopping.client.map.ClientMapper">

	<select id="clientSelectList"
		resultType="co.yedam.shopping.client.service.ClientVO">
		SELECT * FROM CLIENT
	</select>

	<select id="clientSelect"
		parameterType="co.yedam.shopping.client.service.ClientVO" resultType="co.yedam.shopping.client.service.ClientVO">
		SELECT * FROM CLIENT WHERE CLIENT_ID = #{clientId}
	</select>

	<insert id="clientInsert"
		parameterType="co.yedam.shopping.client.service.ClientVO">
		INSERT INTO CLIENT
		VALUES(#{clientId},#{clientPassword},#{clientName},#{clientTel},#{clientAddress},#{adminCheck})
	</insert>
	<delete id="clientDelete"
		parameterType="co.yedam.shopping.client.service.ClientVO">
		DELETE FROM CLIENT WHERE CLIENT_ID = #{clientId}
	</delete>
	<update id="clientUpdate"
		parameterType="co.yedam.shopping.client.service.ClientVO">
		UPDATE CLIENT
		<set>
			<if test="clientPassword !=null">CLIENT_PASSWORD = #{clientPassword},</if>
			<if test="clientName !=null">CLIENT_NAME = #{clientName},</if>
			<if test="clientTel !=null">CLIENT_Tel = #{clientTel},</if>
			<if test="clientAddress !=null">CLIENT_ADDRESS = #{clientAddress},</if>
			<if test="adminCheck !=null">ADMIN_CHECK = #{adminCheck}</if>
		</set>
		WHERE CLIENT_ID = #{clientId}
	</update>
</mapper>