<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.yedam.shopping.productmanager.map.ProductManagerMapper">
	<select id="productSelectList"
		resultType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		SELECT * FROM PRODUCT
	</select>

	<select id="productSelect"
		resultType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</select>

	<insert id="productInsert"
		parameterType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		INSERT INTO PRODUCT
		VALUES(#{productId},#{productName},#{productModel},#{productColor},#{productPrice},#{productCount},#{productSale})
	</insert>

	<delete id="productDelete"
		parameterType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>

	<update id="productUpdate"
		parameterType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		UPDATE PRODUCT
		<set>
			<if test="productId !=Null">PRODUCT_ID = #{productId},</if>
			<if test="productName !=Null">PRODUCT_NAME = #{productName},</if>
			<if test="productModel !=Null">PRODUCT_MODEL = #{productModel},</if>
			<if test="productColor !=Null">PRODUCT_COLOR = #{productColor},</if>
			<if test="productPrice !=0">PRODUCT_PRICE = #{productPrice},</if>
			<if test="productCount !=0">PRODUCT_COUNT = #{productCount},</if>
			<if test="productSale !=0">PRODUCT_SALE = #{productSale}</if>
		</set>
		WHERE PRODUCT_ID = #{productId}
	</update>

</mapper>