<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.yedam.shopping.productmanager.map.ProductManagerMapper">
	<select id="productSelectList"
		resultType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		SELECT * FROM PRODUCT
	</select>

	<select id="productSelect"
		resultType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</select>

	<insert id="productInsert"
		parameterType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		INSERT INTO PRODUCT
		VALUES(#{productId},#{productName},#{productPrice},#{productModel},#{productCount},#{productColor})
	</insert>

	<delete id="productDelete"
		parameterType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>

	<update id="productUpdate"
		parameterType="co.yedam.shopping.productmanager.service.ProductManagerVO">
		update PRODUCT SET
			PRODUCT_ID = #{productId},
			PRODUCT_NAME = #{productName},
			PRODUCT_PRICE = #{productPrice},
			PRODUCT_MODEL = #{productModel},
			PRODUCT_COUNT = #{productCount},
			PRODUCT_COLOR = #{productColor}
		WHERE PRODUCT_ID = #{productId}	
	</update>










</mapper>